<div class="container mt-5">
  <h2 class="text-center">Feed de Conteúdos Recentes</h2>
  <div id="conteudos-container" class="row">
    <% if (conteudos && conteudos.length > 0) { %>
      <% conteudos.forEach(conteudo => { %>
        <div class="col-md-4 mb-4">
          <div class="card">
            <img src="/<%= conteudo.imagem.replace('public\\', '') %>" class="card-img-top" alt="<%= conteudo.titulo %>">
            <div class="card-body">
              <h5 class="card-title"><%= conteudo.titulo %></h5>
              <p class="card-text"><%= conteudo.descricao %></p>
              <p class="card-text"><small class="text-muted">Local: <%= conteudo.local %></small></p>
              <p class="card-text"><small class="text-muted">Data do Evento: <%= new Date(conteudo.data_evento).toLocaleString() %></small></p>
              <a href="/evento/<%= conteudo.id_evento %>" class="btn btn-primary">Ver Detalhes</a>
              <div class="d-flex justify-content-between mt-2">
                <button class="btn btn-primary">Curtir</button>
                <button class="btn btn-secondary">Compartilhar</button>
                <button class="btn btn-success">Vou Participar</button>
              </div>
            </div>
          </div>
        </div>
      <% }) %>
    <% } else { %>
      <p class="text-center">Nenhum conteúdo recente encontrado.</p>
    <% } %>
  </div>
</div>